
#lessonNav {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid silver;
}

#lessonContainer {
    display: grid;
}


#lessonNav a{
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: var(--colorBordeOpcion);
    display: grid;

    
}
#lessonNav a:hover{
    color:silver;
}
#lessonNav a:first-child{
    border-right: none;
    grid-template-columns: 8px 190px;
}
#lessonNav a:last-child{
    border-right: none;;
    grid-template-columns: 190px 8px;
}

#lessonNav a:hover{
    color:silver;
}

.lessonTitle{
    padding: 35px;
    text-align: center;
    font-size: 30pt;
}

.goalsCourse {
    background-color: rgba(0 ,0 ,0, 0.05);
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}

.goalsCourse p{
    padding: 10px 25px;
    text-align: left;
    font-family: sans-serif;
}
.contentCourseArticle {
    margin: 20px 60px;
    display: grid;
}

.contentCourseArticle h2 {
    margin: 10px 0;
    text-align: center;
}

.contentCourseArticle p{
    font-family: sans-serif;
    border-left: 5px solid var(--colorBordeOpcion);
    padding: 0 20px;
}

.contentCourse{
    margin-left: 270px;
    position:relative;
    
} 


aside{
    position: fixed;
    width: auto;
    padding: 10px;
    min-height: calc(100vh - 45px); 
    border-right: 1px solid silver;
    display: grid;
}
h5{
    margin-bottom: 20px;
}
h2{
    padding:10px;
}

